.row-flex
  .well.well-small
    .inline
      strong {{issue.title}} 
      {{issue.author}} 
      .badge {{issue.type}}       
      .badge {{issue.priority}}
    
    p {{issue.text}}  
.btn.btn-success Add comment
.row-flex(ng-show="issue.comments") Comments
  .row( comment in issue.comments)

.btn-toolbar.pull-right
  a( ng-click="saveIssue()").btn.btn-primary Edit
   