!!!5
html(ng-app="issuetracker")
  head
  title MEAN-Issue tracker
  script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
  script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js")
  script( src="js/app.js")
  link(rel='stylesheet', href='/css/bootstrap.css')
  
  body
  header
    h1 MEAN-Issue tracker
  .row
    .well.span2
      ul.unstyled
        li
          a(ng-href="#issue/new") new issue
        li
          a(ng-href="#issues") all issues
        li
          a(ng-href="#issue/query") open issue by id 
    .span10( ng-view )
        
        
